@font-face{
    font-family: 'Exo2.0-Thin', sans-serif;
    src: url('../fonts/Exo2.0-Thin.woff2') format('woff2'),
         url('../fonts/Exo2.0-Thin.woff') format('woff');
    font-display: swap;
}
@font-face{
    font-family: 'Trebuchet_MS', sans-serif;
    src: url('../fonts/Trebuchet_MS.ttf') format('ttf');
    font-display: swap;
}