html{
    box-sizing: border-box;
}
*,
*::before,
*::after{
    box-sizing: inherit;
}
a{
    display: inline-block;
    text-decoration: none;
}
ul,
li{
    margin: 0;
    padding: 0;
    list-style: none;
}
body{
    // background-color: #707070;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0px 15px;
}