@import 'vars';
@import 'global';
@import 'fonts';

//header
.header{

    margin-bottom: 220px;
    .header__wrapper{
        background-image: url(../images/background-top.png),  ;
        background-repeat: no-repeat;
        background-size: cover;
        background-position:  center bottom;
        position: relative;
        height: 100vh;
        width: 100vw;
    }
    &::before{
        position: absolute;
        content: url(../images/dots-top.png);
        top: 0;
        left: 0;
        z-index: 2;
    }
    &::after{
        position: absolute;
        content: url(../images/background-woomen.png);
        top: 0;
        left: 0;
        z-index: -1;
    }
    .header__top{
        display: flex;
        justify-content: space-between;
        padding-top: 75px;
        align-items: center;
    }
    .header__logo{
        z-index: 1;
    }
    .header__search{
        display: flex;
        justify-content: space-around;
        align-items: center;
        max-width: 371px;
        width: 100%;       
        position: relative;
        .search__inner-form{
            position: absolute;
            left: 0;
            form{
                width: 371px;
                
                input{
                    display: none;
                }
                button{
                    position: absolute;
                    border: none;
                    background-color: #fff;
                    cursor: pointer;
                    @include f700;
                    color: #000;
                    font-size: 18px;
                    width: 130px;
                    height: 72px;
                    &.search{
                        position: relative;
                        height: 65px;
                        width: 182px;
                        border-top-left-radius: 32.5px;
                        border-bottom-left-radius: 32.5px;
                        &::before{
                            position: absolute;
                            content: url(../images/icons/search.png);
                            left: 21px;
                            top: 21px;
                        }
                        &::after{
                            position: absolute;
                            content: '';
                            height: 37px;
                            width: 1px;
                            background-color: #e0e0e0;
                            top: 16px;
                            right: 0;
                        }   
                    }
                    &.btn_collection{
                        height: 65px;
                        width: 181px;
                        border-top-right-radius: 32.5px;
                        border-bottom-right-radius: 32.5px;
                        &::before{
                            position: absolute;
                            font-family: 'icomoon';
                            content: '\f078';
                            font-size: 20px;
                            right: 16px;
                            top: 20px;
                        }
                    }
                }
            }
            
        }
    }
    .header__content{
        display: flex;
        justify-content: flex-end;
        margin-top: 155px;
        .header__content-slogan{
            max-width: 555px;
            width: 100%;
            .text{
                @include f750;
                color: #000;
                font-size: 115px;
                span{
                    color: #fff;
                }
                &.small{
                    font-size: 50px;
                    color: #fff;
                    font-weight: 500;
                    span{
                        color: #fbf934;
                    }
                }
            }
            button{
                margin-top: 97px;
                border: none;
                background-color: #fff;
                height: 60px;
                width: 202px;
                padding-right: 36px;
                border-radius: 30px;
                box-shadow: 0px 5px 23.75px 1.25px rgba(189, 227, 239, 0.75);
                cursor: pointer;
                @include f700;
                color: #000;
                font-size: 20px;
                position: relative;
                outline: none;
                &::before{
                    position: absolute;
                    font-family: 'icomoon';
                    content: '\f178';
                    color: #7048e2;
                    font-size: 20px;
                    right: 49px;
                    top: 18px;
                }
            }
        }
    }
}
.product{
    padding: 0px 30px;
}
.product__box{
    padding-bottom: 20px;  
}
.product__inner-box{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.product__title{
    display: flex;
    justify-content: center;
    padding-top: 95px;
    span{
        @include f700;
        font-size: 50px;
        color: $text;
    }
}
.product__item{
    max-width: 352px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    align-items: center;
    margin-top: 45px;
    margin-bottom: 45px;
    &-header{
        font-size: 14px;
        @include f700;
        font-weight: 400;
        color: #bbbbbb;
        display: flex;
        justify-content: space-between;
        padding: 25px 20px 0 50px;
        height: 50px;
        &__likes{
            position: relative;
            display: none;
            &::before{
                position: absolute;
                content: url(../images/icons/heart.png);
                left: -28px;
                top: 0;
            }
        }
        &__chat{
            position: relative;
            display: none;
            &::before{
                position: absolute;
                content: url(../images/icons/chat.png);
                left: -28px;
                top: 0;
            }
            &:visited{
                color: #bbbbbb;
            }
        }
    }
    &-content{
        display: flex;
        align-items: center;
        flex-direction: column;
        position: relative;
        &__img{
            max-width: 185px;
            width: 100%;
            a{
                min-height: 245px;
                background-repeat: no-repeat;
                display: block;
                background-position: center center;
                background-size: cover;
            }
        }
        &__name{
            margin-top: 30px;
            @include f700;
            font-weight: 400;
            font-size: 18px;
            line-height: 24px;
            color: #777;
        }
        &__price{
            @include f700;
            font-size: 25px;
            color: $text;
            font-weight: 400;
            margin-top: 10px;
            margin-bottom: 70px;
            line-height: 30px;
        }
        &__btn{
            position: absolute;
            display: none;
            @include f700;
            font-weight: 400;
            color: #fff;
            background: linear-gradient(to top right, rgb(140,132,249) 0%, rgb(141, 67, 245) );
            width: 202px;
            height: 60px;
            border-radius: 30px;
            border: none;
            bottom: -26px;
            cursor: pointer;
            outline: none;
        }
    }
    &:hover{
        box-shadow: 0px 5px 47.5px 2.5px rgba(221, 223, 224, 0.75);
        transition: all 0.3s;
        .product__item-header__likes{
            display: block;
        }
        .product__item-header__chat{
            display: block;
        }
        .product__item-content__btn{
            display: block;
        }
        .product__item-content__name{
            color: $text;
        }
        .product__item-content__price{
            color: #8c84f9;
        }
    }
    &.sold{
        &:hover{
            box-shadow: 0px 5px 47.5px 2.5px rgba(221, 223, 224, 0.75);
            transition: all 0.3s;
            .product__item-header__likes{
                display: none;
            }
            .product__item-header__chat{
                display: none;
            }
            .product__item-content__btn{
                display: none;
            }
            .product__item-content__name{
                color: #777;
            }
            .product__item-content__price{
                color: $text;
            }
        }        
    }
}
//brand
.brand{
    margin-top: 100px;
}
.brand__wrapper{
    display: flex;
    justify-content: space-between;
    padding-top: 85px;
    position: relative;
    &::before{
        position: absolute;
        content: url(../images/circle.png);
        top: -85px;
        right: -49px;
        z-index: -2;
    }
}
.brand__text{
    padding-top: 70px;
    padding-left: 100px;
    padding-right: 70px;
    max-width: 649px;
    width: 100%;
    &-title{
        @include f700;
        font-size: 50px;
        color: $text;
        margin-bottom: 15px;
    }
    &-subtitle{
        @include f700;
        font-weight: 400;
        font-size: 25px;
        line-height: 40px;
        color: $text;
        margin-bottom: 15px;
        a{
            color: #8d83f9;
            &:visited{
                color: #8d83f9;
            }
        }
    }
    &-description{
        @include f700;
        font-weight: 400;
        color: #888888;
        font-size: 16px;
        line-height: 24px;
    }
}
.brand__image{
    padding-right: 168px;
    position: relative;
    img{
        width: 281px;
        height: 500px;
        position: relative;
    }
    &::before{
        position: absolute;
        content: url(../images/iphone.png);
        top: -66px;
        left: -58px;
    }
    &::after{
        position: absolute;
        content: '';
        width: 301px;
        height: 301px;
        border-radius: 50%;
        background-color: #fff;
        right: 49px;
        top: -80px;
        z-index: -1;
    }
}
//showcase
.showcase{
    margin-top: 135px;
    padding: 0px 30px;
    z-index: 5;
    position: relative;
}
.showcase__title{
    display: flex;
    justify-content: center;
    padding-top: 95px;
    span{
        @include f700;
        font-size: 50px;
        color: $text;
    }
}
.showcase__menu{
    box-shadow: 0px 5px 47.5px 2.5px rgba(239, 239, 240, 0.75);
    background-color: #fff;
    margin-top: 65px;
    max-width: 1115px;
    height: 65px;
    border-radius: 32.5px;      
    padding-top: 19px;
}
.showcase__inner-btn{
    display: flex;
    justify-content: space-around;
    button{
        background-color: transparent;
        cursor: pointer;
        @include f700;
        font-weight: 400;
        color: #000;
        font-size: 20px;
        border: none;
        outline: none;
        position: relative;
        &.mixitup-control-active{
            color: #b394fa;
            text-shadow: 3px 6px 7px #b394fa, 5.9px 9.9px 1em #b394fa;
            @include f700;
            font-weight: 600;
        }
    }
}
.showcase__inner-items{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
//newsletter
.newsletter{
    margin-top: -63px;
    position: relative;
}
.newsletter__background{
    background: linear-gradient(to top right, rgb(140,132,249) 0%, rgb(99, 29, 197) );
    padding-top: 140px;
    padding-bottom: 120px;
}
.newsletter__inner{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    form{
        max-width: 848px;
        width: 100%;
        position: relative;
    }
    button{
        position: absolute;
        @include f700;
        font-weight: 400;
        color: #fff;
        background: linear-gradient(to top right, rgb(140,132,249) 0%, rgb(141, 67, 245) );
        width: 198px;
        height: 60px;
        border-radius: 30px;
        border: none;
        bottom: 6px;
        right: 6px;
        cursor: pointer;
        outline: none;
    }
}
.newsletter__background-title{
    font-size: 140px;
    text-transform: uppercase;
    color: #fefefe;
    @include f750;
    font-weight: 900;
    opacity: 0.05;
    text-align: center;
}
.newsletter__title{
    position: absolute;
    color: #fff;
    font-size: 50px;
    @include f770;
    top: -104px;
}
.newsletter__input{
    width: 100%;
    height: 71px;
    border-radius: 35.5px;
    border: none;
    padding: 27px 218px 20px 27px;
    @include f770;
    font-weight: 400;
    outline: none;
    position: relative;
    &::placeholder{  
        color: #333333;
        font-size: 20px;
        
    }  
}
//shop
.shop__wrapper{
    padding-top: 70px;
    padding-bottom: 40px;
}
.shop__wrapper{
    display: flex;
    justify-content: center;
}
.shop__inner-title{
    @include f700;
    font-size: 50px;
    color: $text;
    margin-bottom: 45px;
}
.shop__inner{
    text-align: center;
}
.shop__inner-nav ul{
    display: flex;
    justify-content: space-around;
    margin-bottom: 54px;
    li{
        color: #404040;
        font-size: 18px;
        @include f700;
        margin-right: 48px;
        &:last-child{
            margin-right: 0;
        }
        a:visited{
            color: #404040;
        }
    }
}
.shop__inner-social{
    max-width: 310px;
    width: 100%;
    margin: 0 auto;
}
.shop__inner-social ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    li{
        height: 53px;
        width: 53px;
        border-radius: 50%;
        border: 2px solid #ecebed;          
        .facebook{
            position: relative;
            &::before{
                position: absolute;
                font-family: 'icomoon';
                content: "\f09a";
                font-weight: 400;
                font-size: 25px;
                top: -2px;
                left: -7px;
            }
        }
        .google{
            position: relative;
            &::before{
                position: absolute;
                font-family: 'icomoon';
                content: "\f0d5";
                font-weight: 400;
                font-size: 25px;
                top: -2px;
                left: -13px;
            }
        }
        .instagram{
            position: relative;
            &::before{
                position: absolute;
                font-family: 'icomoon';
                content: "\f16d";
                font-weight: 400;
                font-size: 25px;
                top: -2px;
                left: -11px;
            }
        }
        .twitter{
            position: relative;
            &::before{
                position: absolute;
                font-family: 'icomoon';
                content: "\f099";
                font-weight: 400;
                font-size: 25px;
                top: -2px;
                left: -12px;
            }
        }
        a:visited{
            color: #404040;
        }
        &:hover{
            transition: all 0.7s;
            background-color: #907ef8;
            border: 2px solid #907ef8;
            box-shadow: 0px 8px 19px 1px rgba(207, 207, 208, 0.75);
            a{
                color: #fff;
                font-weight: 400;
            }
        }
    }
}
//copyright
.copyright{
    background-color: #f6f5f7;
    padding-top: 26px;
    padding-bottom: 26px;
}
.copyright__wrapper{
    display: flex;
    justify-content: center;
}
.copyright__text{
    font-family: 'Montserrat', sans-serif;
    color: #777777;
    font-size: 15px;
}

@import 'media';
